<mat-toolbar color="primary" >
  
     <button  mat-button routerLink="registration"><h2><span> Contact Dashboard </span></h2> </button>
     <!-- <button  mat-button routerLink="advertising"><h2><span> Advertising Service</span></h2> </button>
     <button  mat-button routerLink="complaints"><h2><span> Complaints </span></h2> </button> -->
    <span class="example-spacer"></span>
   <span></span>
   <div>
   <span class="material-icons">
    </span>
   </div>
  </mat-toolbar>
  <router-outlet></router-outlet>