.mat-grid-tile .mat-figure {

    display: block !important ;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.pics {
    background-color: royalblue;
}
.flexx{
    display: flex !important;
}
.example-card {
    max-width: 400px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  
